/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */

@font-face {
    /* название шрифта(чтобы не запутаться лучше указать название папки со шрифтом)  */
    font-family: 'Montserrat';
    /* дрес шрифта и тип  */
    src: url("../font/Montserrat/Montserrat-VariableFont_wght.ttf");
    /* font-style: normal; */
    font-weight: normal;
}

:root {
    /* Основной цвет */
    --main: #58B80C;
    --main-text: white;
    --h2-size: 40px;
    --h2-c: black;
    --btn-c: white;
    /* Размер текста h4 */
    --h4-c: black;
    --form-bg: #EDEDED;
    /* Цвет выделения текста в форме */
    --select-text: #58B80C;
    --form-btn: #58B80C;
    /* Цвет текста кнопок формы */
    --form-btn-txt: white;
    /* Задний фон карт */
    --card-bg: #FFFEFE;
    /* Маркеры списков */
    --li: #58B80C;
}

html {
    scroll-behavior: smooth;
    /* свойство scroll-behavior не наследуется, применяется к прокручиваемым блокам */
}

body {
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    font-family: Montserrat;
    font-weight: 400;
    line-height: auto;
    font-size: 20px;

}

body h2 {
    font-size: var(--h2-size);
    color: var(--h2-c);
    font-size: 40px;
}

header h1,
header h2 {
    line-height: 70px;
}

#main-wrapper {
    padding-top: 83px;
    width: 100%;
    margin: 0 auto;
    /* border: 1px solid black; */
}

#container {
    /* width: 1210px; */
    width: 90%;
    margin: 0 auto;
}

/* Хедер */
header {
    /* flex-wrap: wrap; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header>div {
    max-width: 1015px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

img {
    width: 100%;
}

header img {
    max-width: 315px;
    height: 74px;
}

header nav {
    max-width: 477px;
    width: 100%;
    /* width: 100%; */
}

header ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

header li {
    position: relative;
    color: #00a650;
    /*задаём цвет ссылки*/
    cursor: pointer;
    line-height: 1;
    /*задаём высоту строки*/
    text-decoration: none;
    /*убираем подчёркивание*/
}

header li:after {
    margin-top: 5px;
    display: block;
    position: absolute;
    left: 0;
    /*изменить на right:0;, чтобы изменить направление подчёркивания */
    width: 0;
    /*задаём длинну линии до наведения курсора*/
    height: 2px;
    /*задаём ширину линии*/
    background-color: #00a650;
    /*задаём цвет линии*/
    content: "";
    transition: width 0.3s ease-out;
    /*задаём время анимации*/
}

header li:hover:after,
header li:focus:after {
    width: 100%;
    /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}

header div {
    font-size: 20px;
}

#header-login {
    width: 243px;
    height: 68px;
    display: flex;
    flex-direction: column;
    line-height: 24px;
    align-items: center;
    border: 1px solid black;
    justify-content: center;
}

/* Блок Мобильное приложение */
#mobile-app {
    margin-top: 99px;
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
}

#mobile-app img {
    /* position: absolute; */
    right: 0;
    bottom: 0;
    box-shadow: 3px 4px 5px 5px rgba(34, 60, 80, 0.2);
    max-width: 452px;
    height: 436px;
    margin-top: 146px;
}

#mobile-app a {
    color: inherit;
    font-size: inherit;
}

#mobile-app-block {
    margin-top: 159px;
    margin-top: 15px;
}

/* Тень заголовков */
#mobile-app h1,
#mobile-app h2 {
    text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    font-weight: 800;
}

h1,
h2 {
    font-size: 80px;
}

#mobile-app h2,
#fees-size {
    max-width: 747px;
    width: 100%;
    font-size: 66px;
    color: var(--main);
}

#mobile-app-block__subtitle {
    margin-top: 30px;
    max-width: 653px;
    width: 100%;
    margin-bottom: 54px;
    font-weight: 400;
    line-height: 30px;
}

/* Блок автоматизация  */
#automation {
    margin-top: 159px;
}

#automation h3 {
    margin-top: 40px;
    font-size: 24px;
    font-weight: 300;
}

.btn {
    display: inline-block;
    background: var(--main);
    padding: 19px 34px;
    color: var(--btn-c);
}

.item {
    width: 294px;
}

.item h4 {
    margin-top: 20px;
    font-size: var(--h4-s);
    font-weight: bold;
    color: var(--h4-c);
}

#card-wrapper {
    margin-top: 27px;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}

#card-wrapper div:nth-child(2),
#card-wrapper div:nth-child(3) {
    margin-left: 20px;
}

#card-wrapper img {
    height: 250px;
}

.item p {
    margin-top: 13px;
    font-size: 18px;
    line-height: 30px;
}

/* Стилизация форм */
form {
    box-sizing: border-box;
    padding: 62px 85px 85px 59px;
    /* padding-bottom: 59px; */
    max-width: 1200px;
    width: 100%;
    /* height: 638px; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 169px;
    background: var(--form-bg);
}

h3 {
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 20px;

}

form h2 {
    text-align: center;
    font-weight: 600;
    font-size: 48px;
    line-height: 70px;
}

form h3 {
    line-height: 40px;
}

.inp-item {
    max-width: 264px;
}

form input {
    font-size: 20px;
    font-family: inherit;
    border: none;
    background: var(--form-bg);
    border-bottom: 1px solid black;
    width: 100%;
}

form input:focus {
    outline: none;
    background: var(--form-bg);
    border-bottom: 1px solid black;
}

form p {
    max-width: 653px;
    width: 100%;
}

form a {
    color: var(--select-text);
    cursor: pointer;
}

form button {
    color: var(--form-btn-txt);
    border: none;
    width: 285px;
    height: 60px;
    display: inline-block;
    background: var(--form-btn);
    font-family: inherit;
    font-size: 20px;
}

.form-footer {
    margin-top: 80px;
    max-width: 1007px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}

.form-footer p {
    font-size: 18px;
    width: 653px;
    line-height: 30px;

}

.inp-items {
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1007px;
    width: 100%;
}



.selection-txt {
    font-weight: 400;
    font-size: 18px;
}



/* Тень для всех кнопок при наведении */
button.b-Shadow:hover,
.btn.b-Shadow:hover {
    cursor: pointer;
    transition: ease-in-out;
    transition-duration: .3s;
    box-shadow: 0px 4px 60px rgba(0, 0, 0, .25);
}

/* Блок база знаний */
#knowledge-base {
    display: flex;
    /* flex-wrap: wrap; */
    /* height: 546px; */
    /* position: relative; */
    margin-top: 139px;
    box-sizing: border-box;
    justify-content: space-between;
}

#knowledge-base img {
    /* position: absolute; */
    right: 0px;
    bottom: 0px;
}

#knowledge-base p {
    margin: 50px 0 82px 0;
    font-weight: 300;
    font-size: 24px;
    line-height: 45px;
    max-width: 712px;
}



/* Блог с тарифами */
#tariffs {
    margin-top: 135px;
}

#tariffs hgroup h2,
#tariffs hgroup h3 {
    line-height: 45px;
    text-align: center;
}

#tariffs h2 {
    line-height: 70px;
}

#card-container__items {
    margin-top: 101px;
}

#card-container__items {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-around;
}

#card-container__items div:nth-child(2) {
    margin-left: 30px;
}

.card-container__item {
    box-shadow: 10px 10px 10px 10px rgba(177, 176, 169, 1);
    background: var(--card-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 796px;
    width: 100%;
    padding-bottom: 70px;
}

.card-container__item span {
    margin-top: 24px;
    font-size: 18px;
    border-bottom: 1px solid black;
}

.card-container__item h3 {
    margin-top: 30px;
}

.big-text {
    font-weight: 600;
    line-height: 70px;
    font-size: 64px;
    color: #58B80C;
}

.card-description {
    line-height: 30px;
    margin-top: 61px;
    max-width: 380px;
    width: 100%;
}

#tariffs #h3-include {
    margin-top: 93px;
    margin-bottom: 52px;
}

#tariffs li {
    font-size: 20px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, .25);
    line-height: 27px;
    margin-bottom: 27px;
}

#tariffs li::before {
    content: "";
    width: 13px;
    height: 13px;
    display: inline-block;
    border-radius: 50%;
    background: var(--li);
    margin-right: 16px;
}

/* Футер */
footer {
    margin-top: 149px;
    padding-bottom: 44px;
}

address {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

address p {
    text-align: center;
}

address p:nth-child(1) {
    font-size: 18px;
    font-weight: 600;
    line-height: 70px;
}

address p:nth-child(2) {
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
}

small {
    text-align: end;
    display: block;
    margin-top: 72px;
    font-weight: 300;
    font-size: 18px;
    line-height: 34px;
}

/* Медиа запросы */
:root {
    --head-img: 54px;
    --form-el-mt: 30px
}

/* @media screen and (max-width: 1678px) {} */

@media screen and (max-width: 1200px) {
    header {
        gap: 15px;
    }

    #card-container__items {
        flex-wrap: wrap;
    }

    #card-container__items {
        margin: 0 auto;
        margin-top: 101px;
    }

    #card-container__items div:nth-child(2) {
        margin-top: 70px;
        margin-left: 0px;
    }

    form button {
        margin-top: var(--form-el-mt);
    }
}

@media screen and (max-width: 1160px) {
    header {
        flex-wrap: wrap;
        align-items: center;
    }

    header a {
        margin: 0 auto;
    }

    header nav,
    header a {
        margin-top: 30px;
    }

    #mobile-app {
        flex-wrap: wrap;
    }

    #mobile-app img {
        margin-top: var(--head-img);
    }

    .inp-items {
        width: 100%;
        flex-direction: column;
    }

    .inp-items .inp-item {
        margin-top: 30px;
    }

    .inp-item {
        min-width: 100%;
    }

}

@media screen and (max-width: 960px) {
    #knowledge-base {
        flex-wrap: wrap;
    }

    form {
        padding: 30px;
    }

    address {
        flex-direction: column;
    }

    footer h2 {
        text-align: center;
    }

    .inp-items .inp-item:nth-child(3) {
        margin-top: var(--form-el-mt);
        min-width: 100%;
    }

    .inp-items .inp-item:nth-child(3) input {
        min-width: 100%;
    }
}

@media screen and (max-width: 878px) {
    header {
        flex-direction: column;
        justify-content: center;
    }

    header img {
        margin: 0 auto;
    }
}

@media screen and (max-width: 760px) {
    .inp-items .inp-item {
        min-width: 100%;
        margin-top: var(--form-el-mt);
    }

    .inp-items .inp-item input {
        min-width: 100%;
    }

    .inp-items {
        flex-direction: column;
    }

}

@media screen and (max-width: 700px) {
    #card-wrapper {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
}

@media screen and (max-width: 580px) {
    h1, h2, h3, h4 {
        text-align: center;
    }
    #mobile-app h1 {
        font-size: 50px;
        text-align: center;
    }
    #mobile-app h2 {
        line-height: 40px;
        font-size: 30px;
    }
    #mobile-app h2 span {
        font-size: 30px;
    }
    #mobile-app-block {
        text-align: center;
    }
    #mobile-app img {
        margin: 40px auto;
    }
    form h3 {
        line-height: 40px;
        font-size: 20px;
    }
    form h2 {
        font-size: 35px;
        line-height: 40px;
    }
    #knowledge-base div a {
        display: inline-block;
        transform: translateY(50%);
    }
    .card-container__item{
        padding-left: 20px;
        padding-right: 20px;
    }
    
}

@media screen and (max-width: 420px) {
    header {
        display: flex;
        align-items: center;
    }

    header ul {
        margin-top: 0px;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
}

@media screen and (max-width: 360px) {}