/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */

/* @font-face {
    font-family: 'Montserrat';
    src: url("../font/Montserrat/Montserrat-VariableFont_wght.ttf");
    font-weight: normal;
} */

:root {
    /* Основной цвет */
    --main: #58B80C;
    --main-text: white;
    --h2-size: 40px;
    --h2-c: black;
    --btn-c: white;
    /* Размер текста h4 */
    --h4-c: black;
    --form-bg: #EDEDED;
    /* Цвет выделения текста в форме */
    --select-text: #58B80C;
    --form-btn: #58B80C;
    /* Цвет текста кнопок формы */
    --form-btn-txt: white;
    /* Задний фон карт */
    --card-bg: #FFFEFE;
    /* Маркеры списков */
    --li: #58B80C;
    --weight-shadow: 10px;
}

html {
    scroll-behavior: smooth;
    /* свойство scroll-behavior не наследуется, применяется к прокручиваемым блокам */
}

body {
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    font-family: Montserrat;
    font-weight: 400;
    line-height: auto;
    font-size: 20px;
}

/* Слайдер 1 */
.slider {
    width: 50%;
    margin: 100px auto;
}

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 255px;
    margin: 0 auto;
}

.slick-slide h3 {
    min-height: 60px;
}

.slick-prev:before,
.slick-next:before {
    color: black;
}


.slick-slide {
    -webkit-transition: all ease-in-out .3s;
    -o-transition: all ease-in-out .3s;
    transition: all ease-in-out .3s;
}


.slick-current {
    opacity: 1;
}

.slick-slide {
    width: 100%;

}

.multiple-items {
    margin-top: 50px;
}

.slick-slide img {
    max-width: 250px;
    width: 100%;
    height: 255px;
}

.slick-slide h3 {
    text-align: start;
    line-height: 1.5;
    font-size: 20px;
    font-weight: bold;
}

.slick-slide p.slide-desc {
    display: block;
    margin: 0 auto;
    font-size: 18px;
    /* max-width: 343px; */
    width: 100%;
    line-height: 2;
    text-align: start;
}


.itcss2 {
    display: none;
}

#mobile-app-block h2 {
    font-size: var(--h2-size);
    color: var(--h2-c);
    font-weight: 600;
}

.slider-wrapper {
    display: none;
}

/* Бургер меню */

#burger {
    display: none;
    min-width: 30px;
    width: 30px;
    height: 8px;
    position: absolute;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#menu ul {
    display: none;
}

#btn-sub-img {
    display: none;
}

#burger:after {
    position: absolute;
    content: "";
    border-bottom: 1px solid black;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    top: 50%;
    width: 100%;
}


header h1,
header h2 {
    line-height: 70px;
}

#main-wrapper {
    padding-top: 83px;
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    /* border: 1px solid black; */
    position: relative;
}

#container {
    width: 90%;
    margin: 0 auto;
}

/* Хедер */
header {
    /* flex-wrap: wrap; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.glo {
    -webkit-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
    border: 1px solid black;
    display: block;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    margin: 0;
    padding: 11px 5px;
}

.glo:hover {
    -webkit-box-shadow: 0px 4px var(--weight-shadow) rgba(0, 0, 0, .25);
    box-shadow: 0px 4px var(--weight-shadow) rgba(0, 0, 0, .25);
    border-color: var(--main);
    background: var(--main);
    color: white;
}

header>div {
    max-width: 1015px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

header img {
    max-width: 315px;
    height: 74px;
}

header nav {
    max-width: 477px;
    width: 100%;
    /* width: 100%; */
}

header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
}

header li {
    position: relative;
    color: #00a650;
    /*задаём цвет ссылки*/
    cursor: pointer;
    line-height: 1;
    /*задаём высоту строки*/
    text-decoration: none;
    /*убираем подчёркивание*/
}

header li:after {
    margin-top: 5px;
    display: block;
    position: absolute;
    left: 0;
    /*изменить на right:0;, чтобы изменить направление подчёркивания */
    width: 0;
    /*задаём длинну линии до наведения курсора*/
    height: 2px;
    /*задаём ширину линии*/
    background-color: #00a650;
    /*задаём цвет линии*/
    content: "";
    -webkit-transition: width 0.3s ease-out;
    -o-transition: width 0.3s ease-out;
    transition: width 0.3s ease-out;
    /*задаём время анимации*/
}

header li:hover:after,
header li:focus:after {
    width: 100%;
    /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}

header div {
    font-size: 20px;
}

#header-login {
    width: 243px;
    height: 68px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    line-height: 24px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid black;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

/* Блок Мобильное приложение */
#mobile-app {
    margin-top: 99px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

#phone {
    position: relative;
    width: 570px;
    height: 550px;
    background-image: url('../img/phone.png');
    background-position: bottom right;
    background-size: contain;
    /* border: 2px solid black; */
    background-repeat: no-repeat;
}

#cloudmin,
#cloudbig {
    position: absolute;
}

#cloudmin {
    width: 156px;
    height: 140px;
    /* border: 2px solid black; */
    right: 0px;
    top: 0px;
    -webkit-transform: translate(50%, -50%);
    -ms-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
}

#cloudbig {
    width: 281px;
    height: 240px;
    top: 50%;
    -webkit-transform: translateX(-110%);
    -ms-transform: translateX(-110%);
    transform: translateX(-110%);
}

.btn .b-Shadow {
    color: var(--btn-c);
    font-size: inherit;
}

#mobile-app-block {
    margin-top: 15px;
}

#mobile-app-block span {
    white-space: nowrap;
}

#sub-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

#mobile-app h1 {
    font-size: 80px;
}

#mobile-app h1,
#mobile-app h2 {
    font-weight: 600;
}


#mobile-app h2,
#mobile-app-block span,
#fees-size {
    width: 100%;
    font-size: 60px;
    color: var(--main);
}

#mobile-app-block__subtitle {
    margin-top: 30px;
    width: 100%;
    margin-bottom: 54px;
    font-weight: 400;
    line-height: 1.5;
}

/* Блок автоматизация  */
#automation {
    margin-top: 70px;
}

.title-small {
    font-size: 24px;
    font-weight: 300;
    text-align: start;
}

.btn {
    display: inline-block;
    background: var(--main);
    padding: 19px 34px;
    color: var(--btn-c);
}

.item {
    width: 294px;
}

.item p {
    text-align: justify;
}

.item h4 {
    margin-top: 20px;
    font-size: var(--h4-s);
    font-weight: bold;
    color: var(--h4-c);
}

#card-wrapper {
    margin-top: 27px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

#card-wrapper div:nth-child(2),
#card-wrapper div:nth-child(3) {
    margin-left: 40px;
}

#card-wrapper img {
    height: 250px;
}

.item p {
    margin-top: 13px;
    font-size: 18px;
    line-height: 30px;
}

/* Стилизация форм */
form {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 50px 50px;
    /* padding-bottom: 59px; */
    max-width: 1500px;
    width: 100%;
    /* height: 638px; */
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 169px;
    background: var(--form-bg);
}

h3 {
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 20px;

}

form h2 {
    text-align: center;
    font-weight: 600;
    font-size: 48px;
    line-height: normal;
}

form h3 {
    line-height: normal;
}

.inp-item {
    max-width: 264px;
}

form input {
    font-size: 20px;
    font-family: inherit;
    border: none;
    background: var(--form-bg);
    border-bottom: 1px solid black;
    width: 100%;
}

form input:focus {
    outline: none;
    background: var(--form-bg);
    border-bottom: 1px solid black;
}

form p {
    max-width: 653px;
    width: 100%;
    margin-bottom: 30px;
}

form a {
    color: var(--select-text);
    cursor: pointer;
}

form button {
    color: var(--form-btn-txt);
    border: none;
    display: inline-block;
    background: var(--form-btn);
    font-family: inherit;
    font-size: 20px;
}

.form-footer {
    margin-top: 80px;
    max-width: 1007px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.form-footer p {
    font-size: 18px;
    width: 653px;
    line-height: 1.5;

}

.inp-items {
    margin-top: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 1007px;
    width: 100%;
}

.selection-txt {
    font-weight: 400;
    font-size: 18px;
}

/* Тень для всех кнопок при наведении */
button.b-Shadow:hover,
.btn.b-Shadow:hover {
    cursor: pointer;
    -webkit-transition: ease-in-out;
    -o-transition: ease-in-out;
    transition: ease-in-out;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, .1);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, .1);

}

button.b-Shadow,
.btn.b-Shadow {
    -webkit-box-shadow: 0px 4px var(--weight-shadow) rgba(0, 0, 0, .25);
    box-shadow: 0px 4px var(--weight-shadow) rgba(0, 0, 0, .25);
}

/* Блок база знаний */
#knowledge-base {
    margin-top: 50px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

#knowledge-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#know-btn {
    margin-top: 98px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

#know-btn2 {
    display: none;
}

#knowledge-base img {
    max-width: 579px;
    width: 100%;
    height: 535px;
    right: 0px;
    bottom: 0px;
    display: block;
}

#knowledge-base #cloud-big {
    width: 500px;
}

.title-small {
    display: block;
    font-weight: 300;
    font-size: 24px;
    line-height: 1.5;
}

/* Блог с тарифами */
#tariffs {
    margin-top: 0px;
}

#tariffs ul {
    position: relative;
}

#cloud-tr,
#rocket-tr {
    position: absolute;
    top: 0;
    right: 0;
}

#cloud-tr2 {
    width: 119px;
    position: absolute;
    right: 0;
    bottom: -150px;
}

#cloud-tr {
    top: -100px;
    width: 426px;
    right: 20%;
}

#rocket-tr {
    top: 250px;
    width: 427px;
}

.title-medium {
    font-size: 40px;
    font-weight: bold;
}

.title-small {
    font-size: 24px;
}

.title-medium,
.title-small {
    line-height: 1.5;
    text-align: start;
}

#tariffs .title-medium,
#tariffs .title-small {
    line-height: 1.5;
    text-align: start;
    font-weight: bold;
}

#card-container__items {
    margin-top: 101px;
}

#card-container__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* flex-wrap: wrap; */
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

#card-container__items div:nth-child(2) {
    margin-left: 60px;
}

.card-container__item {
    -webkit-box-shadow: 10px 10px 10px 10px rgba(177, 176, 169, 1);
    box-shadow: 10px 10px 10px 10px rgba(177, 176, 169, 1);
    background: var(--card-bg);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 690px;
    width: 100%;
    padding-bottom: 30px;
}

.card-container__item span {
    margin-top: 24px;
    font-size: 18px;
    border-bottom: 1px solid black;
}

.card-container__item h3 {
    margin-top: 30px;
}

.big-text {
    font-weight: 600;
    font-size: 64px;
    color: #58B80C;
}

.card-description {
    margin-top: 21px;
    max-width: 380px;
    width: 100%;
    line-height: 1.5;
}

#h3-include {
    text-align: start;
    margin-top: 93px;
    margin-bottom: 32px;
}

#tariffs li {
    margin-left: 16px;
    padding-left: 16px;
    position: relative;
    font-size: 20px;
    margin-bottom: 27px;
    line-height: 1.5;
}

#tariffs li::before {
    position: absolute;
    left: -16px;
    top: 17%;
    content: "";
    width: 13px;
    height: 13px;
    display: inline-block;
    border-radius: 50%;
    background: var(--li);

    /* margin-right: 16px; */
}

/* Футер */
footer {
    margin-top: 30px;
    padding-bottom: 44px;
    line-height: 3;
}

footer h2 {
    margin-bottom: 30px;
}

address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

address p {
    text-align: center;
}

address p:nth-child(1) {
    font-size: 18px;
    font-weight: 600;
}

address p:nth-child(2) {
    font-weight: 900;
}

small {
    text-align: end;
    display: block;
    margin-top: 72px;
    font-weight: 300;
    font-size: 18px;
}

/* Медиа запросы */
:root {
    --head-img: 54px;
    --form-el-mt: 0px
}

@media screen and (max-width: 1770px) {
    #rocket-tr {
        top: 300px;
        max-width: 263px;
    }

    #cloud-tr2 {
        bottom: -50px
    }

    #cloud-tr {
        width: 365px;
    }
}

@media screen and (max-width: 1550px) {
    #cloud-tr {
        display: none;
    }

    #rocket-tr {
        right: 100px;
        top: -150px;
    }

    #cloud-tr2 {
        position: absolute;
        right: 0;
        top: 100px;
        display: block;
    }
}

@media screen and (max-width: 1440px) {
    .slick-slide img {
        width: 183px;
        height: 183px;
    }

}

@media screen and (max-width: 1466px) {
    .card-container__item {
        max-width: 500px;
    }

    #phone {
        width: 582px;
        height: 473px;
    }

    #cloudbig {
        width: 192px;
        height: 178px;
    }

    #cloudmin {
        width: 120px;
        height: 104px;
    }
}

@media screen and (max-width: 1290px) {
    #rocket-tr {
        display: none;
    }

    #cloud-tr2 {
        display: none;
    }

    #phone {
        width: 509px;
        height: 450px;
    }

    #cloudmin {
        width: 123px;
        height: 106px;
        -webkit-transform: translate(50%, 0%);
        -ms-transform: translate(50%, 0%);
        transform: translate(50%, 0%);

    }

    #cloudbig {
        width: 197px;
    }

    #sub-mobile {
        /* flex-direction: column; */
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: start;
    }

    #btn-on-img {
        display: active;
    }

    #btn-sub-img {
        display: none;
        text-align: center;
        margin: 20px auto 0 auto;

    }

    #mobile-app-block__subtitle {
        margin-bottom: 30px;
    }

}

@media screen and (max-width: 1200px) {
    .slick-slide p.slide-desc {
        line-height: 1.5;
    }

    form .form-footer p {
        min-width: 100%;
    }

    #phone {
        margin: 0 auto;
        max-width: 400px;
        width: 100%;
        background-size: contain;
        background-position: center;
    }

    .align {
        text-align: center;
    }

    #btn-on-img {
        display: none;
    }

    #cloudmin {
        -webkit-transform: translate(50%, -50%);
        -ms-transform: translate(50%, -50%);
        transform: translate(130%, -50%);
    }

    #cloudbig {
        -webkit-transform: translateX(none);
        -ms-transform: translateX(none);
        transform: translateX(none);
        bottom: 0;
    }

    #btn-sub-img {
        display: inline-block;
    }

    #card-container__items {
        display: none;
    }

    .itcss2 .itcss__wrapper {
        padding: 30px 0 30px 0;
    }

    .card-container__item {
        -webkit-transform: scale(.9);
        -ms-transform: scale(.9);
        transform: scale(.9);
    }

    #card-container__items div:nth-child(2) {
        margin-left: 0px;
    }

    .itcss2 {
        display: block;
    }

    .itcss__item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    #tariffs {
        margin-top: 0px;
    }

    #sub-mobile {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    #mobile-app {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    #card-container__items {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    #card-container__items {
        margin: 0 auto;
        margin-top: 101px;
    }

    #card-container__items div:nth-child(2) {
        /* margin-top: 70px; */
        margin-left: 0px;
    }

    form button {
        margin-top: var(--form-el-mt);
    }

    #knowledge-base {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    #knowledge-base img {
        margin: 0 auto;
        margin-top: 60px;
        width: 450px;
        height: 450px;
    }

    form .form-footer p {
        min-width: 100%;
        text-align: justify;
    }
}

@media screen and (max-width: 1160px) {
    #main-wrapper {
        padding-top: 80px
    }

    header #burger {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: relative;
    }

    #menu {
        position: absolute;
        width: 50vw;
        height: 100vh;
        background: white;
        -webkit-transition: .5s;
        -o-transition: .5s;
        transition: .5s;
        -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        transform: translateX(-100%);
        z-index: 10;
    }

    #menu ul {
        display: block;
    }

    #menu.active {
        -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
        transform: translateX(0%);
    }

    #menu a {
        display: block;
        padding: 10px;
    }

    nav {
        display: none;
    }

    header {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    header a {
        margin: 0 auto;
    }

    header nav,
    header a {
        margin-top: 30px;
    }

    #mobile-app {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .inp-items {
        width: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .inp-items .inp-item {
        margin-top: 30px;
    }

    .inp-item {
        min-width: 100%;
    }

    .inp-items .inp-item {
        margin-top: 30px;
    }

    .itcss1,
    .itcss2 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    #card-wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    #card-wrapper>.item {
        display: none;
    }

    #card-wrapper div:nth-child(2),
    #card-wrapper div:nth-child(3) {
        margin-left: 0px;
    }

    .slider-wrapper {
        display: block;
    }

    #automation h4 {
        text-align: center;
    }

    #card-wrapper .item {
        text-align: center;
        width: 100%;
        margin: 0px;
    }

    footer .title-medium {
        text-align: center;
    }

    address {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;

    }
}


@media screen and (max-width: 1024px) {
    #card-wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}

@media screen and (max-width: 960px) {
    #cloudbig {
        width: 130px;
        height: 130px
    }

    form {
        margin-top: 30px;
    }


    #tariffs .title-medium {
        margin-top: 30px;
    }

    #knowledge-base #cloud-big {
        display: none;
    }

    #phone {
        margin-top: 30px;
    }

    #cloudmin {
        -webkit-transform: translate(50%, -50%);
        -ms-transform: translate(50%, -50%);
        transform: translate(80%, -50%);
    }

    #cloudbig {
        -webkit-transform: translate(-50%, -60%);
        -ms-transform: translate(-50%, -60%);
        transform: translate(-50%, -60%);
    }

    #knowledge-base {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    address {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    form {
        padding: 30px;
    }

    .inp-items .inp-item:nth-child(3) {
        min-width: 100%;
    }

    .inp-items .inp-item:nth-child(3) input {
        min-width: 100%;
    }

    header img {
        -webkit-transform: scale(.8);
        -ms-transform: scale(.8);
        transform: scale(.8);
        margin: 0;
    }

    #mobile-app-block {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    #mobile-app-block__subtitle {
        max-width: 100%;
    }

    #automation {
        margin-top: 50px;
    }

    #card-wrapper {
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }

    #know-btn {
        display: none;
    }

    #knowledge-content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    #knowledge-base h2 {
        text-align: start;
    }

    #knowledge-base {
        text-align: center;
    }

    #know-btn2 {
        display: inline-block;
    }

}

@media screen and (max-width: 860px) {
    #main-wrapper {
        padding-top: 30px;
    }

    .slick-slide img {
        max-width: none;
        width: 300px;
        height: 300px;
    }

    .slick-slide h3 {
        min-height: auto;
    }

    .slick-slide p.slide-desc {
        font-size: 16px;
        width: 100%;
        max-width: none;
    }

    #mobile-app h1 {
        font-size: 36px
    }

    #mobile-app h2,
    #mobile-app span {
        font-size: 24px;
    }

    #mobile-app-block__subtitle {
        margin: 0;
        margin-top: 20px;
        font-size: 16px;
    }

    .glo {
        font-size: 10px;
    }

    #mobile-app {
        margin-top: 32px;
    }

    header img {
        width: 160px;
        height: 34px;
    }

    .h2-medium {
        line-height: normal;
        font-size: 24px;
    }

    .title-small,
    #tariffs li,
    form h3 {
        font-size: 16px;
    }

    .title-medium {
        font-size: 24px;
    }

    form h3 {
        margin-bottom: 10px;
    }

    #tariffs .card-container__item h3 {
        font-size: 20px;
    }

    form h2 {
        font-size: 20px;
    }

    .inp-items {
        font-size: 12px;
        margin-top: 20px;
    }

    .form-footer {
        margin-top: 35px;
    }

    .form-footer p {
        font-size: 12px;
    }

    #knowledge-base p {
        margin: 10px 0 10px 0;
    }

    .btn,
    form button {
        display: inline;
        height: initial;
        font-size: 15px;
        padding: 12px 30px;
        margin: 0 auto;
    }


}

@media screen and (max-width: 760px) {
    .inp-items .inp-item {
        min-width: 100%;
    }

    .inp-items .inp-item input {
        min-width: 100%;
    }

    .inp-items {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    #knowledge-base {
        margin-top: 30px;
    }

}

@media screen and (max-width: 700px) {
    #card-wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        gap: 20px;
    }


}

@media screen and (max-width: 640px) {

    .slick-slide h3 {
        text-align: start;
    }

    .slick-slide p.slide-desc {
        text-align: start;
    }

    .title-medium,
    .title-small {
        text-align: start;
    }

    #tariffs h2 {
        margin-bottom: 0px;
    }

    .card-container__item {
        -webkit-transform: scale(.8);
        -ms-transform: scale(.8);
        transform: scale(.8);
    }

    #h3-include {
        margin-top: 0px;
        margin-bottom: 30px;
    }

    #tariffs {
        padding: 0px;
    }


    .itcss2 .itcss__wrapper {
        padding: 0;
    }

    header img {
        -webkit-transform: scale(.8);
        -ms-transform: scale(.8);
        transform: scale(.8);
    }
}

@media screen and (max-width: 580px) {
    #knowledge-base img {
        width: 350px;
        height: 350px;
        margin: 0px auto;
    }

    .slick-slide img {
        width: 230px;
        height: 230px;
    }

    #phone,
    #knowledge-content img {
        -webkit-transform: scale(.8);
        -ms-transform: scale(.8);
        transform: scale(.8);
    }

    footer h2 {
        font-size: 30px;
    }

    address {
        padding-top: 30px;
    }

    address>div {
        margin-top: 15px;
    }

    .card-container__item {
        padding-left: 50px;
        padding-right: 50px;
    }

    .big-text {
        font-size: 45px;
    }

    #card-wrapper div.item {
        margin-left: 0px;
    }
}

@media screen and (max-width: 400px) {
    #mobile-app h1 {
        font-size: 25px;
    }

    #mobile-app h2,
    #mobile-app span {
        margin-top: 5px;
        font-size: 24px;
    }

    .slick-slide h3 {
        font-size: 20px;
    }

    #h3-include,
    .title-medium,
    form h2,
    .card-description {
        font-size: 21px;
    }

    #tariffs ul li,
    .title-small,
    form h3,
    #mobile-app-block__subtitle,
    .btn.b-Shadow,
    button.b-Shadow,
    .slick-slide p.slide-desc {
        font-size: 17px;
    }

    .title-small {
        margin: 0;
    }

    #mobile-app-block__subtitle {
        margin: 10px;
    }

    .slick-slide img {
        max-width: 120px;
        width: 100%;
        height: 120px;
    }

    form {
        padding: 30px;
    }

    .card-container__item {
        padding-right: 20px;
        padding-left: 20px;
    }

    #cloudbig {
        -webkit-transform: translate(-50%, -60%);
        -ms-transform: translate(-50%, -60%);
        transform: translate(-50%, -60%);
        width: 120px;
        height: 120px;
    }

    #cloudmin {
        width: 120px;
        height: 120px;
        -webkit-transform: translate(20%, -50%);
        -ms-transform: translate(20%, -50%);
        transform: translate(50%, -50%);
    }

    #phone {
        margin-top: 0px;
        -webkit-transform: scale(.7);
        -ms-transform: scale(.7);
        transform: scale(.7);
        height: 280px;
    }

    #mobile-app-block {
        margin-top: 0px;
    }

    #btn-sub-img {
        margin-top: 0px;
    }

}

@media screen and (max-width: 380px) {
    #phone {
        -webkit-transform: scale(.6);
        -ms-transform: scale(.6);
        transform: scale(.6);
    }

    #btn-on-img {
        display: none;
    }

    #main-wrapper {
        padding-top: 0px;
    }

    #mobile-app {
        margin-top: 20px;
    }

    #mobile-app #btn-sub-img {
        margin: 0 auto;
        text-align: center;
    }

    #main-wrapper {
        margin: 0 auto;
        max-width: 100%;
        margin-top: 20px;
    }

    header {
        margin: 0 auto;
        min-width: 100%;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        position: relative;
    }

    #mobile-app h1,
    #mobile-app h2 {
        text-align: start;
    }


    #mobile-app-block__subtitle {
        margin: 20px 0px 10px 0px;
    }

    #card-wrapper img {
        margin-top: 0px;
    }

    header #burger {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: relative;
    }

    header img {
        width: 92px;
        margin: 0px;
    }

    header nav {
        display: none;
    }

    form {
        padding: 16px;
    }

    form h3,
    form h2 {
        margin-bottom: 10px;
    }

    form h3 {
        font-size: 12px;
    }

    form h2 {
        font-size: 16px;
    }

    .inp-items {
        margin-top: 0px;
    }

    form .form-footer {
        margin-top: 0px;
    }

    form .form-footer p {
        margin-bottom: 0px;
        margin-top: 40px;
    }

    form button {
        margin-top: 41px;
        font-size: 12px;
    }

    #knowledge-base {
        margin-top: 20px;
    }

    #knowledge-base p {
        margin-top: 20px;
        text-align: start;
        word-wrap: break-word;
    }

    #knowledge-base img {
        margin-bottom: 0px;
        width: 240px;
        height: 240px;
    }


    #knowledge-base .btn {
        margin: 0 auto;
    }

    #know-btn {
        display: none;
    }

    #tariffs {
        margin-top: 20px;
    }

    #tariffs hgroup h2,
    #tariffs hgroup h3 {
        text-align: center;
    }

    #tariffs li {
        margin-bottom: 8px;
        font-size: 10px;
    }

    #tariffs li::before {
        width: 8px;
        height: 8px;
    }

    footer {
        margin-top: 40px;
    }

    address {
        margin-top: 10px;
        padding-top: 0px;
    }

    address>div {
        margin-top: 0;
    }

    address p:nth-child(2) {
        font-size: none;
    }

    small {
        font-size: 10px;
        margin-top: 0px;
        padding-top: 10px;
    }

}